.speech {
    font-family: 'Times New Roman', Times, serif;
    font-size: 12px;
    color: black;
}

.stage_directions{
    font-family: Verdana, Tahoma, sans-serif;
    font-size: 20px;
    background-color:rgb(160, 209, 240);
    color: rgb(153, 237, 238);
}

.name{
    font-family: Cochin, Georgia, Times, 'Times New Roman', serif;
    font-size: 25px;
    color: rgb(161, 230, 191);
}
p:hover{
    background-color: lightcoral;
    color: rgb(91, 158, 104);
}

.LORD_GORING{
    color: rgb(120,75,225)
}
.SIR_ROBERT_CHILTERN{
    color: rgb(47,165,197)
}
table {
    font-family: arial, sans-serif;
    border-collapse: collapse;
    width: 100%;
  }
  
  td, th {
    border: 1px solid #ee8181;
    text-align: left;
    padding: 8px;
  }
  
  tr:nth-child(even) {
    background-color: #abe4d0;
  }

  h6:hover{
    
    text-shadow: 3px 3px rgb(80, 55, 221);
    border-style: groove;
    border-color: rgb(228, 206, 84);
}

ul.navbar-horizontal 
{/* remove these */
    list-style-type: none;margin: 0;
    padding: 0;
}
ul.navbar-horizontal li
 {
     float:left; 
     /* line up horizontally */
     color:#000;
     background-color:rgb(133, 245, 133)
    }ul.navbar-horizontal a 
    {display:block;padding:8px
        /* on hover change the link color*/
        ul.navbar-horizontal a:hover 
        {  background-color: #555;
            color:white;
        }